{% extends "base.html" %}
{% load thumbnail %}


{% block title %}
  The Partners - {{ block.super }}
{% endblock %}

{% block navigation %}
  {% include "includes/navigation.html" with current_page="/partners/" only %}
{% endblock navigation %}

{% block content %}
<div class="blanc_page_blocktype_redactorblock lives-intro">
    <h1 class="title">Our Partners</h1>
    <h2>The 12 Lives programme</h2>
</div>

<div class="company-lives blanc_page_blocktype_redactorblock">
    {% if object_list %}
        <ul>
            {% for company in object_list %}
                <li class="company {% cycle 'left' 'right' %}">
                    <div style="position:relative">
                    {% if company.image %}
                        {% thumbnail company.image "280x280" crop="center" as thumb %}
                            <a href="{{ company.get_absolute_url }}"><img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ post.title }}"></a>
                        {% endthumbnail %}
                    {% endif %}
                        <a href="{{ company.get_absolute_url }}">
                            <h1>{{ company.title }}</h1>
                        </a>
                        <p>{{ company.description }}</p>
                        <span class="posts"><a class="button">Browse lives</a></span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no partners to present yet.</p>
    {% endif %}
</div>

{% if is_paginated %}
    <div class="pagination">
        <ul>
            {% for page in page_obj.paginator.page_range %}
                <li><a class="page{% ifequal page page_obj.number %} active{% endifequal %}" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock content %}
