{% extends "base.html" %}
{% load thumbnail %}


{% block title %}
  The Partners - {{ block.super }}
{% endblock %}

{% block navigation %}
  {% include "includes/navigation.html" with current_page="/partners/" only %}
{% endblock navigation %}

{% block content %}
<div class="blanc_page_blocktype_redactorblock lives-intro">
    <h1 style="text-align: center;">'12 Lives' Project</h1>
    <h3>52 Lives has&nbsp;partnered with businesses to bring the 52 Lives concept to the workplace. The idea came about after we were approached by chief executives who were inspired by 52 Lives and wanted to adopt the concept.</h3>
    <h4>So, we set-up and manage a corporate version of the 52 Lives concept. The companies we work with help to change a life in their community every month, encouraging staff involvement in their projects.  It creates a very tangible and personal way for staff to connect with their organisation's CSR initiatives.</h4>
    <h4> If you would like to find out more about how this could work for your company, please <a href="/contact/">get in touch</a>.</h4>
</div>

<div class="company-lives blanc_page_blocktype_redactorblock">
    {% if object_list %}
        <ul>
            {% for company in object_list %}
                <li class="company {% cycle 'left' 'right' %}">
                    <div style="position:relative">
                    {% if company.image %}
                        {% thumbnail company.image "280x280" crop="center" as thumb %}
                            <a href="{{ company.get_absolute_url }}"><img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ post.title }}"></a>
                        {% endthumbnail %}
                    {% endif %}
                        <a href="{{ company.get_absolute_url }}">
                            <h1>{{ company.title }}</h1>
                        </a>
                        <p>{{ company.description }}</p>
                        <span class="posts"><a href="{{ company.get_absolute_url }}" class="button">Browse lives</a></span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no partners to present yet.</p>
    {% endif %}
</div>

{% if is_paginated %}
    <div class="pagination">
        <ul>
            {% for page in page_obj.paginator.page_range %}
                <li><a class="page{% ifequal page page_obj.number %} active{% endifequal %}" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock content %}
