{% extends "base.html" %}
{% load thumbnail %}


{% block title %}
  The lives - {{ block.super }}
{% endblock %}

{% block navigation %}
  {% include "includes/navigation.html" with current_page="" only %}
{% endblock navigation %}

{% block content %}
<div class="blanc_page_blocktype_redactorblock lives-intro">
    <h1 class="title">12 lives</h1>
    <h2>Some help text.</h2>
</div>

<div class="lives">
    {% if object %}
        <ul class="lives-grid">
            {% for life in object.life_set.all %}
                <li class="lifeblock">
                    <div style="position:relative">
                    {% if life.image %}
                        {% thumbnail life.image "280x280" crop="center" as thumb %}
                            <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ post.title }}">
                        {% endthumbnail %}
                        <a href="{{ life.get_absolute_url }}">
                            <h1>#{{ life.number }}</h1>
                            <p>{{ life }}</p>
                            <small class="ribbon">Read more</small>
                        </a>
                    </div>
                    {% endif %}
                </li>
            {% empty %}
                <p>There are no lives to present yet - something must have gone wrong.</p>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% if is_paginated %}
    <div class="pagination">
        <ul>
            {% for page in page_obj.paginator.page_range %}
                <li><a class="page{% ifequal page page_obj.number %} active{% endifequal %}" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock content %}
