{% extends "base.html" %}

{% block content %}
    <article class="content">
        <div class="blanc_page_blocktype_nominateformblock blanc_page_block blanc_page_block_odd">
            {% if is_invalid %}
                <p>* Please check errors below.</p>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Your details</legend>
                    {{ form.as_p }}
                </fieldset>

                <fieldset>
                    <legend>Nominee's details</legend>
                    {{ nominee_form.management_form }}
                    {% for form in nominee_form %}
                        {{ form.as_p }}
                    {% endfor %}

                    {{ address_form.as_p }}

                </fieldset>

                    
                <button type="submit">Send</button>
            </form>
        </div>
    </article>
{% endblock content %}

