@import "normalize.less";
@import "../css/fonts.css";

.font { font-family: 'Lato', sans-serif; }
.bold { font-family: 'BrushUp', sans-serif; }
.bold2 { font-family: 'BrushUpToo', sans-serif; }
.icon {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e600";
}
.icon-instagram:before {
    content: "\e601";
}
.icon-twitter:before {
    content: "\e602";
}

////////////////////////////////////////////////////////////////////////////////
// 52 Lives

@text: #4b4b4b;
@heading: #372e5d;
@purple: #7e3c8a;
@green: #94caaa;
@line: #8b8497;

body {
    background: @heading;
    color: white;
    .font;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a {
    color: @green;
    &:hover {
        color: @purple;
    }
}

.page {
    overflow: hidden;
    background: white;
    color: @text;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    .font;
}

////////////////////////////////////////////////////////////////////////////////
// ribbon

.ribbon {
    position: relative;
    display: inline-block;
    font-size: 35/20em;
    line-height: 1.9em;
    height: 2em;
    margin: 1em 0;
    padding: 0 1em;
    border: none;
    background: @green;
    color: white;
    text-decoration: none;
    font-weight: 300;
    z-index: 2;

    &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        background: url(../img/ribbon-left.png) no-repeat;
        background-size: 100%;
        width: 3.3em;
        height: 2em;
        z-index: -1;
        bottom: 0;
        left: 0;
        margin-left: -1.65em;
        margin-bottom: -.38em;
    }
    &:after {
        background: url(../img/ribbon-right.png) no-repeat;
        background-size: 100%;
        left: auto;
        right: 0;
        margin-left: auto;
        margin-right: -1.65em;
    }

    span {
        background: @green;
        position: relative;
        z-index: 2;
        &:after {
            content: '';
            display: inline-block;
            margin: 0 -.25em -0.15em .5em;
            width: 22/35em;
            height: 1em;
            background: url(../img/arrow.png) center center no-repeat;
            background-size: cover;
        }
    }
    &:hover {
        color: @purple;
    }
}

////////////////////////////////////////////////////////////////////////////////
// header

.head {
    display: block;
    background: @purple;
    h1 {
        margin: 0;
        padding: 1em 0;
        a {
            display: block;
            margin: 0 auto;
            width: 400px;
            height: 100px;
            background: url(../img/logo.png) center center no-repeat;
            background-size: cover;
            text-indent: -100em;
            overflow: hidden;
            @media all and (max-width:440px) {
                width: 280px;
                height: 71px;
            }
        }
    }
}

.homepage .head h1 {
    padding: 1.75em 0;
    @media all and (max-width:760px) { padding: 1.5em 0; }
    @media all and (max-width:440px) { padding: 1em 0; }
    a {
        width: 685px;
        height: 173px;
        @media all and (max-width:760px) {
            width: 400px;
            height: 100px;
        }
        @media all and (max-width:440px) {
            width: 280px;
            height: 71px;
        }
    }
}

.nav, .subnav {
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 3000;
    width: 100% !important;
    ul {
        .ribbon;
        margin: 0 auto;
        margin-bottom: -16/20em;
        top: .15em;
    }
    li {
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    a {
        color: white;
        text-decoration: none;
        &:hover, &.active { color: @purple; }
    }
    li + li {
        margin-left: 1.5em;
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            margin: .75em 0 0 -1.2em;
            height: .5em;
            width: 0.75em;
            background: url(../img/heart.png) center center no-repeat;
            background-size: cover;
        }
    }
}

.head .nav {
    font-size: 1em;
    @media all and (max-width:750px) {
        font-size: 0.8em;
    }
    @media all and (max-width:560px) {
        font-size: 0.5em;
    }
}

.subnav {
    font-size: 60%;
    margin-top: 3em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media all and (max-width:560px) {
        font-size: 0.5em;
    }
    @media all and (max-width:560px) {
        display: none;
    }
}

////////////////////////////////////////////////////////////////////////////////
// layout fixes

#blanc_page_column_content {
    > .blanc_page_block:first-child {
        padding-top: 5em;
        &.blanc_page_blocktype_imageblock, &.blanc_page_blocktype_banner { padding-top: 0; }
        @media all and (max-width:640px) { padding-top: 1em; }
    }
}

#blanc_page_column_intro {
    @media all and (max-width:640px) {
        display: none;
    }
}

////////////////////////////////////////////////////////////////////////////////
// blog

.content-wrap {
    max-width: 700px;
    margin: 0 auto;
}

.news {
    padding-top: 3em;
    @media all and (max-width:640px) { padding-top: 1em; }
    h1.title {
        color: @heading;
        text-align: center;
        text-decoration: none;
        .bold;
        font-size: 4.75em;
        line-height: .9;
    }
}

.posts {
    margin: 2em auto;
    overflow: hidden;
    max-width: 960px;
    padding: 0;

    li {
        list-style: none;
        text-align: center;
        padding-bottom: 1.5em;
    }

    li + li {
        margin-top: 2em;
    }

    .content-wrap {
        text-align: left;
        .blanc_page_blocktype_redactorblock;
        &.centered {
            text-align: center;
            a { border: none; }
        }
        li {
            text-align: left;
            padding-bottom: 0;
        }
        li + li {
            margin-top: 0;
            text-align: left;
        }
        ol {
            li { list-style: decimal; }
        }
    }

    h1.title {
        text-decoration: none;
        .bold;
        font-size: 2.5em;
        line-height: 1;
        a {
            color: @heading;
            text-decoration: none;
            &:hover {
                color: @green;
            }
        }
    }

    .date {
        color: lighten(@text, 20%);
        font-size: 80%;
        margin-top: -1em;
        a { color: lighten(@text, 20%); &:hover { color: @green; } }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .button {
        .ribbon;
        border: none;
        padding: 0 2em;
        margin: 0 auto;
    }
}

.latest_news_trio {

    .posts {
        display: table;
        max-width: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    li {
        display: table-cell;
        width: 100/3%;
        position: relative;
        padding: 0;
        border-top: none;
        text-align: center;
        &.one { background: @heading; }
        &.two { background: @purple; }
        &.three { background: @heading; }

        @media all and (max-width:760px) {
            width: 100%;
            display: block;
            margin-top: 0 !important;
        }
    }
    img {
        opacity: 0.65;
    }
    .action {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    h4 { .bold; font-size: 1.5em; margin-bottom: 0.5em; }
    .date { color: white; }
}

////////////////////////////////////////////////////////////////////////////////
// lives

.lives-intro {
    text-align: center;
    padding-top: 3em;
    h1 { margin-bottom: 0; }
}

.lives {
    display: block;
    clear: both;
    padding-bottom: 1em;
    overflow: hidden;

    .lives-grid {
        margin: 0;
        padding: 0;
        display: block;
        clear: both;
    }
    li {
        display: block;
        float: left;
        width: 25%;
        width: -webkit-calc( 1/4 * 100% );
        width: calc( 1/4 * 100% );
        position: relative;
        background: @heading;
        @media all and (min-width: 960px) {
            width: 20%;
            width: -webkit-calc( 1/5 * 100% );
            width: calc( 1/5 * 100% );
        }
        @media all and (max-width: 840px) {
            width: 100/3%;
            width: -webkit-calc( 1/3 * 100% );
            width: calc( 1/3 * 100% );
        }

        h1 {
            position: absolute;
            .bold;
            margin: 0;
            font-size: 125/20em;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-50%);
            transition: all 0.3s ease-in-out;
            @media all and (max-width:640px) { font-size: 2.5em; }
        }

        &.double {
            width: 50%;
            width: -webkit-calc( 1/2 * 100% );
            width: calc( 1/2 * 100% );
            h1 { font-size: 9.25em; @media all and (max-width:640px) { font-size: 3.5em; } }
            .ribbon { font-size: 2em; }
            @media all and (min-width: 960px) { width: 40%; }
            @media all and (max-width: 840px) {
                width: 100/3%;
                width: -webkit-calc( 1/3 * 100% );
                width: calc( 1/3 * 100% );
                h1 { font-size: 2.5em; }
                .ribbon { font-size: 1.3em; }
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background: rgba(0,0,0,.35);
            z-index: 1;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            &:before {
                background: fadeout(@green, 20%);
                transition: all 0.15s ease-in-out;
            }
        }
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        opacity: 0.65;
    }

    p {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        font-weight: normal;
        padding: 0 1em;
        margin: 0;
        transform: translateY(-50%);
    }
    .ribbon {
        opacity: 0;
        width: 100%;
        padding: 0;
        position: absolute;
        bottom: -1em;
        left: 0;
        right: 0;
        font-size: 1.3em;
        &:before, &:after { opacity: 0; transition: all 0.3s ease-in-out; }
        &:before {  margin-left: -10/20em; }
        &:after {  margin-right: -10/20em; }
    }
    a {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 2;

        text-align: center;
        color: white;
        text-decoration: none;

        &:hover {
            h1, p, .ribbon {
                transition: all 0.15s ease-in-out;
            }
            h1 {
                font-size: 53/20em;
                top: 15%;
                margin-bottom: 25px;
            }
            p {
                opacity: 1;
            }
            .ribbon {
                opacity: 1;
                span { z-index: 2; }
                &:before, &:after { opacity: 1; transition: all 0.15s ease-in-out; }
                &:before {  margin-left: -1.65em; }
                &:after {  margin-right: -1.65em; }
            }
        }
    }

}

.pagination {
    display: block;
    .nav;
    margin: 0 auto 1em auto;
    ul { font-size: 1em; margin: 1em auto 2em; }
    a {
        background: none;
        &.active { color: @purple; }
    }
}

////////////////////////////////////////////////////////////////////////////////
// banner block

.blanc_page_blocktype_banner {
    position: relative;
    &.has-image {
        background: @heading;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    div {
        text-align: center;
        padding: 2em 1em 3em;
        overflow: hidden;
        margin: 0 auto;

        @media all and (max-width:640px) {
            padding-top: 1em;
            padding-bottom: 1em;
        }

        &.image {
            color: white;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            top: 50%;
            transform: translateY(-50%);
            h1 { color: white; }
            .content-wrap {
                max-width: 700px;
                margin: 0 auto;
                padding-left: 0;
                padding-right: 0;
            }
            @media all and (max-width:640px) {
                color: @text;
                h1 { color: @heading; }
                position: static;
                transform: none;
            }
        }

        h1 {
            color: @heading;
            .bold;
            font-size: 130/20em;
            line-height: 0.9;
            margin-top: 0;
            margin-bottom: .2em;
            @media all and (max-width:640px) { font-size: 3.5em; }
        }

        h2 {
            margin: 0;
        }
    }
    .button {
        .ribbon;
        clear: both;
        padding: 0 2em;
        margin: 0.5em auto 0;
        z-index: 2;
        @media all and (max-width:640px) { font-size: 1em; }
    }
}

.blanc_page_blocktype_liveblock {
    &.has-image {
        background: @heading;
        @media all and (max-width:640px) { background: white; }
    }
    img {
        opacity: 0.65;
        @media all and (max-width:640px) {
            opacity: 1;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
// redactor block

.blanc_page_blocktype_redactorblock {
    max-width: 700px;
    padding: 2em 1em;
    margin: 0 auto;
    overflow: hidden;

    &.messages {
        text-align: center;
    }

    h1 {
        .bold;
        font-size: 130/20em;
        line-height: 0.9;
        color: @heading;
        @media all and (max-width:640px) { font-size: 3.5em; }
    }

    h2 {
        font-size: 35/20em;
        color: @green;
    }

    h3 {
        font-size: 25/20em;
    }

    h4, h5 { font-size: 1em; }

    blockquote {
        font-style: italic;
        color: @purple;
        margin-left: 0;
        padding-left: 40/20em;
        font-weight: bold;
    }

    ul {
        li {
            list-style: none;
            &:before {
                content: '';
                display: block;
                width: 0.3em;
                height: 0.3em;
                border-radius: 0.3em;
                background: @purple;
                position: absolute;
                margin-left: -1.2em;
                margin-top: 0.5em;
            }
        }
    }

    iframe, video {
        width: 100%;
    }

    table {
        width: 100%;
    }

    a {
        text-decoration: none;
        border-bottom: 1px solid @green;
        &:hover {
            border-bottom: 1px solid @purple;
        }
    }

    hr {
        height: 1px;
        background: none;
        margin: 1em 0;
        border: none;
        border-bottom: 1px solid @green;
    }
}

////////////////////////////////////////////////////////////////////////////////
// image block

.blanc_page_blocktype_imageblock {
    img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 960px;
        margin: 0 auto;
    }
}


////////////////////////////////////////////////////////////////////////////////
// contact form block

.errorlist {
    color: red;
    margin: 0 0 -20px 0;
    padding-left: 17px;
    font-size: 80%;
    li {
        padding: 0;
        margin-left: -5px;
    }
}

.blanc_page_blocktype_contactformblock, .blanc_page_blocktype_nominateformblock,
.support_formblock {
    background: @purple url(../img/heart_background_clear.png);
    background-size: cover;
    color: white;
    padding: 2em 1em;
    text-align: center;
    overflow: hidden;
    form {
        max-width: 700px;
        margin: 0 auto;
        text-align: left;
    }
    label {
        display: block;
        padding-left: 2%;
        padding-bottom: 1%;
    }
    input, textarea {
        width: 96%;
        border: 1px solid white;
        font-size: 1em;
        line-height: 1.5;
        color: @text;
        padding: 2%;
    }
    select { color: @text; }
    button {
        .ribbon;
        display: block;
        width: 240px;
        margin: 0 auto;
        line-height: 1;
        @media all and (max-width:640px) { font-size: 1em; }
    }
    p {
        margin: 14/20em 0;
    }

    .title {
        text-align: center;
        text-decoration: none;
        .bold;
        font-size: 4.75em;
        line-height: .9;
    }
}

////////////////////////////////////////////////////////////////////////////////
// footer

.social {
    ul {
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            width: 100/3%;
            display: table-cell;
        }
    }
    a {
        display: block;
        text-align: center;
        text-decoration: none;
        border: none;
        color: white;
        padding: 0.5em 1em;
        .bold;
        &:before {
            color: white;
            margin-right: .5em;
            .icon;
        }
        &.icon-facebook {
            background: #3b5998;
        }
        &.icon-twitter {
            background: #55acee;
        }
        &.icon-instagram {
            background: #3f729b;
        }
        @media all and (max-width:460px) {
            &:before { margin-right: 0; }
            span { display: none;}
        }
    }
}

.foot {
    display: block;
    clear: both;
    overflow: hidden;
    background: @heading;
    color: white;
    font-weight: normal;
    @media all and (max-width:960px) {
        padding: 0 1em;
    }

    .sitemap, .legal {
        max-width: 960px;
        margin: 0 auto;

    }

    a {
        display: block;
        color: white;
        text-decoration: none;
        &:hover { color: @green; }
    }

    .sitemap {
        padding: 2em 0 2em 0;
        display: table;
        width: 100%;
        border-bottom: 1px solid @line;
        margin-bottom: 2em;
        > li {
            display: table-cell;
            width: 25%;
            list-style: none;
            @media all and (max-width:580px) {
                width: 100%;
                display: block;
            }
            > ul {
                display: block;
                padding: 0;
                li {
                    list-style: none;
                    font-size: 14/20em;
                    & + li {
                        border-top: 1px solid @line;
                        padding: 0.25em 0;
                    }
                }
            }
            & + li {
                padding-left: 10px;
                @media all and (max-width:580px) {
                    padding-left: 0;
                }
            }
        }
        h3 {
            .font;
            font-size: 25/14em;
            font-weight: normal;
            margin: 1em 0 0.25em 0;
        }
    }

    .legal {
        font-size: 14/20em;
        margin-bottom: 2em;
        p {
            margin: 0 0 0.25em 0;
        }
        a { display: inline; }
        .siteby {
            float: right;
            margin: 0;
            a:hover { color: #fb2668; }
            @media all and (max-width:580px) {
                float: none;
                margin-bottom: 0.5em;
            }
        }
    }
}
