{% load pages_tags %}

<div class="social">
  <ul>
    <li><a href="https://twitter.com/52lives" class="icon icon-twitter" target="_blank"><span>Twitter</span></a></li>
    <li><a href="https://www.facebook.com/52lives" class="icon icon-facebook" target="_blank"><span>Facebook</span></a></li>
    <li><a href="https://instagram.com/52.lives/" class="icon icon-instagram" target="_blank"><span>Instagram</span></a></li>
  </ul>
</div>
<footer class="foot">
  {% footer_pages as footer_links %}

  <ul class="sitemap">
  {% for footer_header in footer_links|show_nav %}
        <li>
          <ul>
            <li>
              <h3>
                <a href="{{ footer_header.get_absolute_url }}">{{ footer_header.title }}</a>
              </h3>
            </li>

            {% for footer_page in footer_header.get_children|show_nav %}
              <li>
                <a href="{{ footer_page.get_absolute_url }}">{{ footer_page.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
  {% endfor %}
  </ul>

  <div class="legal">
      <p class="siteby"><a href="http://www.blanc.ltd.uk/">Website by Blanc</a></p>
      <p>&copy; Copyright 52 Lives {% now 'Y' %}. 52 Lives is a registered charity in England and Wales (1166238). PO Box 329, Hampton, TW12 9DF.</p>
      <p>Anonymity: In most cases we use real names, but occasionally may change someone's name for privacy or safety reasons.</p>
      <p>All rights reserved. <a href="/terms/">Terms</a> &amp; <a href="/privacy/">Privacy</a>.</p>
  </div>
</footer>
