{% load blancpages_navigation %}

{% get_root_pages as root_pages %}
{% get_pages_at_level current_page as secondary_pages %}


<nav class="nav">
    <button class="nav__mobile-button"
            aria-expanded="false"
            aria-controls="nav__links">
        <span class="nav__mobile-label">Open Menu</span>

        <svg class="nav__mobile-icon"
            aria-hidden="true"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100">
            <g class="nav__menu-toggle-icon">
                <path class="line line-1" d="M5 13h90v14H5z"/>
                <path class="line line-2" d="M5 43h90v14H5z"/>
                <path class="line line-3" d="M5 73h90v14H5z"/>
            </g>
        </svg>
    </button>
    
    <ul id="nav__links" class="nav__links">
        {% for page, page_active in root_pages %}
            <li class="nav__link">
                <a href="{{ page.get_absolute_url }}"{% if page_active %} class="active"{% endif %}>
                    {{ page.title }}
                </a>
                {% get_pages_at_level page as next_level_pages %}
                {% if next_level_pages %}
                    <ul class="dropdown">
                        {% for child_page, page_active in next_level_pages %}
                            <li>
                                <a href="{{ child_page.get_absolute_url }}">
                                    {{ child_page.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}    
            </li>
        {% endfor %}
    </ul>
</nav>
