{% load thumbnail %}


{% if object.content %}
  <div class="{{ css_classes }} {{ object.background_colour }}">

    {% if object.image_id %}
      <img src="{{ object.image.file.url }}" alt="">
    {% endif %}

    <div{% if object.image_id %} class="image"{% endif %}>
      <div class="content-wrap">
        {{ object.content|safe }}

        {% if object.link %}
          <a href="{{ object.link }}" class="button">
            {{ object.link_text|default:"Read more" }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

