{% load lives_tags %}
{% load thumbnail %}


{% get_latest_lives 10 as latest_lives %}
<div class="lives">
    {% if object_list %}
        <ul class="lives-grid">
            {% for life in latest_lives %}
                <li class="{% cycle 'single' 'single' 'double' %}">
                    {% if life.image %}
                        {% thumbnail life.image "280x280" crop="center" as thumb %}
                            <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ post.title }}">
                        {% endthumbnail %}
                        <a href="{{ life.get_absolute_url }}">
                            <h1>#{{ life.number }}</h1>
                            <p>{{ life }}</p>
                            <small class="ribbon">Read more</small>
                        </a>
                    {% endif %}
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>There are no lives to present yet - something must have gone wrong.</p>
    {% endif %}
</div>
