{% load thumbnail %}

{% with life=object.life %}
    {% if life %}
        <div class="blanc_page_blocktype_banner">
            {{ life.nominee }}

            {% thumbnail life.image "960x480" crop="center" as thumb %}
                <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ life.life }}">
            {% endthumbnail %}

            <div>
                <h1>#{{ life.number }}</h1>
                {{ life }}

                <a href="{{ life.get_absolute_url }}" class="button">Read more</a>
            </div>
        </div>
    {% endif %}
{% endwith %}
