{% load thumbnail lives_tags static %}

{% get_latest_life object.life as life %}
{% if life %}
    <div class="{{ css_classes }} blanc_page_blocktype_banner {% if life.image %}has-image{% endif %}">
        {% thumbnail life.image "960x480" crop="center" as thumb %}
            <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ life.life }}">
        {% endthumbnail %}

        <div class="image">
            <div class="content-wrap">
                <h1>{% if not life.first_name %}Life {% endif %}#{{ life.number }}{% if life.first_name %} {{ life.first_name }}{% endif %}</h1>
                <h2>{{ life.nominee }}</h2>
                <a href="{{ life.get_absolute_url }}" class="button">Can you help?
                    <img class="arrow-icon" src="{% static 'img/heart_white.svg' %}" >
                </a>
            </div>
        </div>
    </div>
{% endif %}
