{% extends "news/base.html" %}
{% load thumbnail %}


{% block content %}
<div class="news">
    {% block listtitle %}{% endblock %}

    <ul class="posts">
        {% for post in object_list %}
            <li class="post {% if not post.image %}noimage{% endif %}">

                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <p class="date">{{ post.date|date:"F d, Y" }} | <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></p>

                {% if post.image %}
                    {% thumbnail post.image "620x280" crop="center" as thumb %}
                        <a class="imglink" href="{{ post.get_absolute_url }}"><img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ post.title }}"> </a>
                    {% endthumbnail %}
                {% endif %}

                {% if post.teaser %}
                    <p>{{ post.teaser }} ...</p>
                {% else %}
                    <p>{{ post.content|striptags|truncatewords:15 }}</p>
                {% endif %}
                <a href="{{ post.get_absolute_url }}" class="button">Read more</a>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination-wrap">
        {% include "includes/pagination.html" %}
    </div>
</div>
{% endblock content %}
