{% extends "news/base.html" %}
{% load thumbnail %}


{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}


{% block content %}
<div class="news">
    <ul class="posts">
        <li>
            <div class="content-wrap centered">
                <h1 class="title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>
                <p class="date">{{ object.date|date:"F d, Y" }} | <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></p>
            </div>

            {% if object.image %}
                {% thumbnail object.image.file "960x380" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ i.title }}">
                {% endthumbnail %}
            {% endif %}
            <div class="content-wrap">
                {{ object.content|safe }}
            </div>
        </li>
    </ul>
</div>

{% include "includes/latest_news.html" only %}
{% endblock content %}
