{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>{% block starthead %}{% endblock starthead %}
    <title>{% block title %}52 Lives{% endblock %}</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/styles.min.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <meta name="google-site-verification" content="5x3PoAAz0bcv_CkqNz7347TlbRWMzpRycBH_ABuFaHM" />
    <meta name="google-site-verification" content="hVlKaUEmd5ooYjvTXAi4leRnN4JK1oh7RZb5Ib4DOag" />
    <!--[if lt IE 9]>
        <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->

    {# Mailchimp pop-up #}
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/d5cb8c2b7921f5080b59e12f3/813320dcc0d3c6b2271ecaa36.js");</script>

    {% if request.get_host == "www.52-lives.org" and request.COOKIES.cookies_accepted == 'true' %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-47487960-1', 'auto'); ga('send', 'pageview');
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-N9CGXSJ');
        </script>
        <!-- End Google Tag Manager -->
    {% endif %}
</head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">

      {% block startbody %}
      {% endblock startbody %}


      <main class="page">

        {% block startpage %}
        {% endblock startpage %}

        <header class="head">
          <h1><a href="/">52 Lives</a></h1>

          {% block navigation %}
          {% include "includes/navigation.html" only %}
          {% endblock navigation %}
        </header>

          {% block content %}
          {% endblock content %}

          {% include "includes/footer.html" with request=request only %}

      </main>

      <a href="https://52-lives.charitycheckout.co.uk/" target="_blank" class="donate-ribbon">Donate</a>

      {% block endpage %}
      {% endblock endpage %}

      <script src="{% static 'js/base.js' %}"></script>
      <script src="{% static 'js/mobile_menu.js' %}"></script>
      <script src="{% static 'js/cookies.js' %}"></script>
      <script src="{% static 'js/country_list.js' %}"></script>
      <script src="{% static 'js/form_error.js' %}"></script>
      
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9CGXSJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

      {% if debug %}
          <script src="//localhost:35729/livereload.js"></script>
      {% endif %}
  </body>
</html>
