{% extends "base.html" %}

{% block content %}
<h1 class="title">Lives</h1>
<h2>Look at the lives we've changed so far with your help!</h2>
<div class="lives">
  {% if object_list %}
    <ul class="lives-grid">
      {% for live in object_list %}
        <li>
          <img src="/static/img/logo.png" />
          <a href="{{ live.get_absolute_url }}">{{ live }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There is no lives.</p>
  {% endif %}
</div>
  {% if is_paginated %}
    <div class="pagination">
      {% for page in page_obj.paginator.page_range %}
      <a class="page{% ifequal page page_obj.number %} active{% endifequal %}" href="?page={{ page }}">{{ page }}</a>
      {% endfor %}
    </div>
  {% endif %}

{% endblock content %}
