{% extends "base.html" %}

{% block content %}

  {% if object_list %}
    <ul>
      {% for live in object_list %}
        <li>
          <a href="{{ live.get_absolute_url }}">{{ live }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There is no lives.</p>
  {% endif %}

  {% if is_paginated %}
    <div class="pagination">
      {% for page in page_obj.paginator.page_range %}
      <a class="page{% ifequal page page_obj.number %} active{% endifequal %}" href="?page={{ page }}">{{ page }}</a>
      {% endfor %}
    </div>
  {% endif %}

{% endblock content %}
