{% extends "base.html" %}

{% block content %}

  {% if object_list %}
    <ul>
      {% for live in object_list %}
        <li>{{ live }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There is no lives.</p>
  {% endif %}

  {% if is_paginated %}
    <div class="pagination">

      {% if page_obj.has_previous %}
        <a class="prev" href="?page={{ page_obj.previous_page_number }}">Back</a>
      {% else %}
        <span class="prev">Back</span>
      {% endif %}

      <span class="pages">{{ page_obj.number}} of {{ page_obj.paginator.num_pages }} pages</span>
      {% if page_obj.has_next %}
        <a class="next" href="?page={{ page_obj.next_page_number }}">Next</a>
      {% else %}
        <span class="next">Next</span>
      {% endif %}

    </div>
  {% endif %}

{% endblock content %}
